Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git

.yalc/
yalc.lock
testApi/
*.local.*
*.local
.agent
.codegraph
.codex
.husky
.idea
.omo
.opencode
.qoder
.roo
.turbo
.vscode
coverage

pro
bin
deploy
docSite
plugins
test
node_modules
projects/app/node_modules
projects/app/.next