MONGODB_URI="mongodb://myusername:mypassword@localhost:27017/fastgpt?authSource=admin&directConnection=true"
MONGODB_LOG_URI="mongodb://myusername:mypassword@localhost:27017/fastgpt?authSource=admin&directConnection=true"
REDIS_URL="redis://default:mypassword@localhost:6379"

DB_MAX_LINK=5
PASSWORD_LOGIN_LOCK_SECONDS=120
USE_IP_LIMIT=false

LOG_ENABLE_CONSOLE=true
LOG_CONSOLE_LEVEL=info
LOG_ENABLE_OTEL=false
METRICS_ENABLE_OTEL=false
TRACING_ENABLE_OTEL=false
